
<ng-container *ngIf="loading; else elseTemplate">
  <div class="alert alert-info text-center" role="alert">
    <h4 class="alert-heading">Loading</h4>
    <p>
      <i class="fa fa-sync fa-spin fa-2x"></i>
    </p>
    <p class="mb-0"></p>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="row">

    <div class="col-4">
      <img [src]="user.avatar" alt="avatar" class="img-fluid img-thumbnail">
    </div>

    <div class="col">
      <button type="button" class="btn btn-info btn-lg btn-block" (click)="goBack()">back</button>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ user.first_name }} {{ user.last_name }}
          <span class="badge badge-primary badge-pill"><i class="fas fa-user-check"></i></span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ user.email }}
          <span class="badge badge-primary badge-pill"><i class="fas fa-inbox"></i></span>
        </li>
      </ul>
    </div>

  </div>

</ng-template>
